<div class="userFormContainer" id="login">
  <h2>Entra nell'area riservata</h2>
  <form class="userForm" action="paginaLogin.jsp" method="post">
    <label for="email">Email</label>
    <input class="userForm__textField" type="text" id="email" />
    <span class="userForm__error">Email obbligatoria</span>

    <label for="pass">Password</label>
    <input class="userForm__textField" type="password" id="pass" />
    <span class="userForm__error">Password obbligatoria</span>
    <a href="...">Non ricordi la password?</a>

    <button class="userForm__button">Entra</button>

    <a href="register.html">Non hai ancora un Account ? Clicca qui ORA </a>
  </form>
</div>
