
<!-- <h5><a (click)="viewUser()">Profilo Utente</a></h5>
<h5><a (click)="viewFilms()">I miei film</a></h5>
<h5><a (click)="logout()">Logout</a></h5> -->
<div *ngIf="isUserLogged; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock><a (click)="logout()">Logout</a></ng-template>
<ng-template #elseBlock>
  <button (click)="openModal('custom-modal-1')">LOGIN</button>
  <app-modal id="custom-modal-1"> <app-login></app-login></app-modal>
</ng-template>

<!-- <div *ngIf="isProfileVisible">
  <h3>Profilo utente di {{ objUser.nome }} {{ objUser.cognome }}</h3>

  <ul>
    <li>Username: {{ objUser.username }}</li>
    <li>Email: {{ objUser.email }}</li>
    <li>Indirizzo: {{ objUser.indirizzo }}</li>
    <li>CAP: {{ objUser.cap }}</li>
    <li>Città: {{ objUser.citta }}</li>
    <li>Cellulare: {{ objUser.cellulare }}</li>
    <li>Ruolo: {{ objUser.role }}</li>
  </ul>
</div> -->
