<div class="detail" *ngIf="filmDetails">
  <div class="detail__card">
    <div class="detail__photo">
      <img src="{{ filmDetails.image }}" alt="filmPoster" />
    </div>

    <div class="detail__content">
      <h3 class="detail__title">{{ filmDetails.fullTitle }}</h3>
      <h4 class="detail__id">{{ filmDetails.id }}</h4>
      <p class="detail__plot">
        {{ filmDetails.plotLocal }}
      </p>

      <button class="detail__shopButton">
        <i class="fa fa-shopping-cart"></i>
        Acquista ora
      </button>
    </div>
  </div>
  <div class="detail__video" id="frame" *ngIf="filmTrailer">
    <iframe
      [src]="transform(idUrl)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <div class="detail__info">
    <h3>Informazioni sul film</h3>
    <dl class="detail__list">
      <dt>Regista</dt>
      <dd>{{ filmDetails.directors }}</dd>
      <dt>Genere</dt>
      <dd>{{ filmDetails.genres }}</dd>
      <dt>Cast</dt>
      <dd>
        <ng-container
          *ngFor="let actor of filmDetails.actorList; let last = last"
        >
          {{ actor.name }}<ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </dd>
      <dt>Film correlati</dt>
      <dd>
        <ng-container *ngFor="let similar of filmDetails.similars; let last = last" ;>
          <a target="_blank" [routerLink]="['/film', similar.id]"
            >{{ similar.title }}</a><ng-container *ngIf="!last">, </ng-container>
          </ng-container>
      </dd>
    </dl>
  </div>
</div>