.resultsList {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.resultsList__item {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  /* creo griglia allineata con il resto della pagina */
  .resultsList {
    margin: 0 -16px;
  }

  .resultsList__item {
    width: calc(100% / 2);
    padding: 16px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .resultsList__item {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 1024px) {
  .resultsList__item {
    width: calc(100% / 4);
  }
}
